.user-messages{
    position: absolute;
    top: 30vh;
    width: 12vw;
    height: 40vh;
    .chat-heading{
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1rem;
      margin-top: 2rem;
      @include gradient-text;
      animation-iteration-count:1;
      animation: disappear 4s ease-in forwards;
    }
}