@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700|PT+Sans:400,700&display=swap');


$font-primary: 'Exo 2', sans-serif;
$font-secondary: 'PT Sans', sans-serif;

$color-primary: #1FA3B7;
$color-primary-light: #88C6E4;
$color-primary-dark: #0975A7;

$color-accent-gray: #F9F8F8;
$color-accent-red: #F33169;


// clip-path: polygon(29% 0, 100% 0, 100% 100%, 39% 100%, 7% 43%, 4% 34%, 6% 25%, 10% 18%, 14% 12%, 22% 5%);
